@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
	padding: 0;
}

html, body {
	width: 100%;
	background-color: #e3e4e6 !important;
	overflow-x: hidden;
}

a {
	color: #e3e4e6;
	text-decoration: none;
}

a:hover {
	color: #e3e4e6;
	text-decoration: none !important;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	background-color: #1a1a1a;
}

.pulse {
  position: relative;
  left: 50%;
  top: 50vh;
  margin-left: -40px;
  margin-top: -40px; }
  .pulse::before, .pulse::after {
    content: '';
    border: 5px solid #323232;
    width: 80px;
    height: 80px;
    border-radius: 500px;
    position: absolute; }
  .pulse::before {
    animation: pulse-outer .8s ease-in infinite; }
  .pulse::after {
    animation: pulse-inner .8s linear infinite; }


@keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1); } }
	

.parallax-mirror {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;
	visibility: visible;
	overflow: hidden;
	background: url('../images/2.jpg') no-repeat;
	background-position: 50% 50%;
}

.wrapper {
	z-index: 2;
	position: relative;
	height: 210vh;
	padding: 0;
	margin-top: 200px;
	margin-bottom: 270px;
	background-color: rgba(0,0,0,0.25);
	box-shadow: 0px 0px 10px 5px #000;
}

.toggle_mnu {
	position: fixed;
	width: 50px;
	height: 50px;
	top: 20px;
	left: 20px;
	border: none;
	background-color: #222;
	z-index: 1000;
}

.toggle_mnu span {
	display: block;
}

.sandwich {
	width: 26px;
	height: 26px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;
}

.sw-stick {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
	width: 25px;
	height: 3px;
	background-color: #eee;
	transition: all .4s ease;
}

.sw-stick:before
.sw-stick:after {
	-webkit-transition-duration: 0.3s, 0.3s;
	transition-duration: 0.3s, 0.3s;
}

.sw-stick:before {
	content: '';
	position: absolute;	
	width: 25px;
	height: 3px;
	top: -8px;
	left: 0;
	background-color: #eee;
	transition: all .4s;
}

.sw-stick:after {
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	bottom: -8px;
	left: 0;
	background-color: #eee;
	transition: all .4s;
}

.sandwich.active .sw-stick:before {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.sandwich.active .sw-stick:after {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.navi {
	display: none;
	position: fixed !important;
	top: 0;
	left: 0;
	margin: auto;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.9);
	border-bottom: 2px solid #fb9f4a;
}

.navi > ul {
	position: absolute;
	width: 100%;
	top: 250px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	list-style-type: none
}

.navi > ul > li {
	position: relative;
	width: 100%;
	height: 60px;
	line-height: 430%;
	transition: all .6s;
	color: #222;
}

.navi > ul > li:hover {
	background-color: rgba(255,255,255,.1);
}

.navi > ul > li > a {
	position: relative;
	display: block;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 14px;
	height: 100%;
	transition: all .6s;
}

.navi > ul > li > a:hover {
	color: #FF6347 !important;
	text-decoration: none;
}
.navi > ul > li > a:first-child {
	margin-left: 0;
}

.navi .active {
	background-color: #555;
	color: #eee;
}

header > h1.col-lg-5.col-md-5.col-sm-5.col-xs-7 {
	position: absolute;
	right: 10px;
	top: -15vh;
	font-size: 96px;
	font-family: "Indie Flower", cursive;
}

header > h1 > a > span {
	color: #fb9f4a;
}

header > h2 {
	position: relative;
	text-align: center;
	height: 34px;
	margin-top: 20vh;
	color: #eee;
	text-transform: uppercase;
	background-color: #222;
	font-size: 28px;
	line-height: 35px;
	font-weight: bold;
	letter-spacing: 10px;
}

header > p {
	position: relative;
	text-align: center;
	margin: 70px 0;
	font-size: 20px;
	color: #eee;
}

header > p > span { 
	padding: 5px 10px;
	width: 300px;
}

header > a {
	position: relative;
	width: 200px;
	top: 20vh;
	left: calc(50% - 100px);
}

.btnn {
	position: absolute;
	width: 200px;
	height: 40px;
	margin: 0 0;
	text-align: center;
	line-height: 260%;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	background-color: #fb9f4a;
}

#footImg {
	position: relative;
	top: 0;
	right: 145%;
	width: 245%;
	z-index: 1;
}

footer {
	position: relative;
	z-index: 1;
	bottom: 0;
	width: 100%;
}

footer > div{
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: #000;
}

@media screen and (max-width: 576px) {

	div.container.wrapper {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		box-shadow: none;
	}

	.navi > ul {
		top: 100px;
	}

	header > h1.col-lg-5.col-md-5.col-sm-5.col-xs-7 {
		font-size: 42px;
		top: 7px;
		right: 10px;
	}

	header > h2 {
		margin-top: 50vh;
		font-size: 18px;
		letter-spacing: 5px
	}

	header > p {
		margin-top: 20px;
		font-size: 16px;
	}

	header > a {
		top: 5vh;
	}
}