@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 100%;
  min-height: 100vh; }

nav {
  display: none;
  position: fixed;
  z-index: 15;
  width: 5.2vw;
  top: 26vh;
  margin-left: 15px; }
  nav #r-arrow {
    position: absolute;
    top: 20.5vh; }
  nav:hover > #r-arrow {
    display: none; }
  nav:hover > ul {
    opacity: 100; }
  nav ul {
    opacity: 0;
    transition: opacity .4s; }
    nav ul > li {
      list-style-type: none; }
      nav ul > li > a {
        text-decoration: none;
        text-align: center;
        text-transform: uppercase; }
        nav ul > li > a > div {
          background-color: #eee;
          width: 100%;
          height: 9.14vh;
          margin-top: 20px;
          font-size: 14px;
          line-height: 25px;
          box-shadow: 2px 1px 6px 0 #111; }
          nav ul > li > a > div > span {
            display: block;
            width: 100%;
            height: 25px;
            color: #eeffee;
            background-color: #333; }
          nav ul > li > a > div > img {
            margin-top: 8px; }

#wrapper {
  position: absolute;
  width: 100%; }
  #wrapper header {
    position: relative;
    width: 100%;
    height: 1153px;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 0; }
    #wrapper header::before {
      background: linear-gradient(to top, #000, transparent); }
    #wrapper header::before {
      position: absolute;
      content: '';
      bottom: 0;
      width: 100%;
      height: 59%; }
    #wrapper header #head-text {
      position: relative;
      width: 80%;
      left: 10%;
      top: 53%; }
      #wrapper header #head-text h1 {
        font-size: 74px;
        text-align: center;
        text-transform: uppercase;
        color: #fff; }
        #wrapper header #head-text h1:first-child {
          font-weight: lighter; }
  #wrapper .zipCode {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: -16%;
    background-color: #fff;
    box-shadow: 0 1px 2px #aaa;
    z-index: 3; }
    #wrapper .zipCode .zipC {
      outline: none;
      width: 350px;
      height: 10%;
      border: 1px solid #999;
      border-top: 2px solid #999;
      border-radius: 5px;
      box-shadow: none;
      margin: 40px 61.5px;
      margin-bottom: 35px;
      font-size: 24px;
      padding-left: 25px;
      color: #bbb; }
    #wrapper .zipCode p {
      width: 350px;
      margin: 20px auto;
      text-align: center;
      font-size: 24px;
      color: #999; }
    #wrapper .zipCode .btn {
      width: 280px;
      height: 70px;
      text-align: center;
      font-size: 32px;
      text-transform: uppercase;
      background: #227dd3;
      border: none;
      border-radius: 3px;
      margin: 15px 110px;
      color: #fff;
      cursor: pointer; }
    #wrapper .zipCode img {
      width: 100%; }
  #wrapper #content {
    position: relative;
    width: 100%;
    min-height: 300px;
    background: #fff; }
    #wrapper #content .dap {
      width: 500px;
      height: 101px;
      margin-top: 70px;
      margin-left: 25%;
      display: inline-block; }
      #wrapper #content .dap:last-child {
        margin-left: 2%; }
      #wrapper #content .dap div {
        position: relative;
        display: inline-block;
        width: 350px;
        height: 101px;
        margin-left: 25px;
        top: -16px; }
        #wrapper #content .dap div h2 {
          display: inline-block;
          padding-left: 5px;
          padding-bottom: 7px;
          font-size: 26px; }
        #wrapper #content .dap div p {
          display: inline-block;
          font-size: 18px;
          color: #999; }
  #wrapper #block {
    width: 100%;
    height: 2200px;
    background: url("../images/bgb.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 0; }
    #wrapper #block h1 {
      color: #fff;
      font-size: 56px; }
    #wrapper #block p {
      color: #fff;
      font-size: 22px;
      line-height: 33px; }
    #wrapper #block #block1 {
      position: relative;
      width: 40%;
      top: 500px;
      margin-left: 30%;
      text-align: center; }
    #wrapper #block #block2 {
      position: relative;
      width: 35%;
      top: 930px;
      left: 44%; }
      #wrapper #block #block2 input {
        width: 250px;
        height: 70px;
        background: transparent;
        border: 4px solid #fff;
        border-radius: 15px;
        color: #fff;
        font-size: 32px;
        margin-left: 10px;
        cursor: pointer; }
        #wrapper #block #block2 input:active {
          box-shadow: inset 1px 1px 10px #ddd; }
  #wrapper #contact {
    position: relative;
    width: 100%;
    height: 1100px;
    background: url("../images/map.png") no-repeat;
    background-size: cover; }
    #wrapper #contact div {
      position: relative;
      width: 800px;
      height: 800px;
      top: 230px;
      margin: 0 auto;
      border-radius: 800px;
      background-color: rgba(255, 255, 255, 0.9); }
      #wrapper #contact div form {
        position: absolute;
        left: 175px;
        top: 25%; }
        #wrapper #contact div form input {
          display: block;
          width: 440px;
          height: 50px;
          padding-left: 10px;
          margin-top: 10px;
          color: #aaa;
          font-size: 20px; }
          #wrapper #contact div form input:last-child {
            position: relative;
            width: 100px;
            height: 102px;
            margin: 25px auto; }
        #wrapper #contact div form #msg {
          padding-bottom: 175px; }
  #wrapper footer {
    width: 100%;
    height: 50px;
    background-color: #43a06d;
    text-align: center;
    line-height: 300%; }
    #wrapper footer p {
      color: #fff; }

/* @media screen and (max-width: 1366px) {
  #wrapper header {
    height: 768px; }
    #wrapper header #head-text h1 {
      font-size: 62px; }
  #wrapper .zipCode {
    width: 300px;
    height: 300px;
    margin-top: -13%; }
    #wrapper .zipCode .zipC {
      width: 210px;
      margin: 25px 36.5px;
      margin-bottom: 25px;
      font-size: 18px;
      padding-left: 15px; }
    #wrapper .zipCode p {
      width: 240px;
      margin: 10px auto;
      text-align: center;
      font-size: 18px;
      color: #bbb; }
    #wrapper .zipCode .btn {
      width: 156.8px;
      height: 12%;
      font-size: 20px;
      margin: 7px 71.6px; }
  #wrapper #content .dap {
    margin-left: 15%; }
  #wrapper #block div p {
    font-size: 20px; }
  #wrapper #block #block1 {
    width: 56%;
    margin-left: 22%; }
  #wrapper #block #block2 {
    width: 45%; } }

@media screen and (max-width: 1280px) {
  #wrapper header {
    height: 720px; }
    #wrapper header #head-text h1 {
      font-size: 52px; }
  #wrapper .zipCode {
    margin-top: -15%; } }

@media screen and (max-width: 1024px) {
  #wrapper header {
    height: 680px; }
    #wrapper header #head-text h1 {
      font-size: 47px; }
  #wrapper .zipCode {
    margin-top: -18%; }
  #wrapper #block div p {
    font-size: 20px;
    line-height: 26px; }
  #wrapper #content .dap {
    margin-left: 9%;
    width: 400px; }
    #wrapper #content .dap div {
      width: 240px;
      top: -4px; } }

@media screen and (max-width: 768px) {
  #wrapper header {
    height: 480px; }
    #wrapper header #head-text h1 {
      font-size: 35px; }
  #wrapper .zipCode {
    display: none; }
  #wrapper #content {
    height: 450px; }
    #wrapper #content .dap {
      margin-left: 20% !important; }
    #wrapper #content div {
      display: block; }
  #wrapper #block div h1 {
    font-size: 48px; }
  #wrapper #block div p {
    font-size: 20px;
    line-height: 24px; }
  #wrapper #block #block1 {
    width: 63%;
    margin-left: 22%; }
  #wrapper #block #block2 {
    top: 880px;
    width: 55%;
    left: 36%; }
  #wrapper #contact div {
    width: 700px;
    height: 700px;
    border-radius: 700px; }
    #wrapper #contact div form {
      left: 125px; } } */
